body{
    margin: 0px;
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    height: 180px;
}
header #cabecalho{
    background: #00003F; 
}
header .logo{
    width: 245px;
    height: 100px; 
}
main{
    display: flex;
    justify-content: center;
}
main .fundoMesGratis{
    margin-top: -20px;
    width: 886px;
    height: 710px;
    background: #00003F;
    box-shadow: -30px 33px 20px 0px rgba(0, 0, 0, 0.70);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}
h1{
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin-top: 45px;
}
h2{
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
main .fundoPlano{
    width: 162px;
    height: 341px;
    margin-top: 45px;
    margin-bottom: 70px;
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 30px;
    background: #7059E6;
    box-shadow: -30px 33px 20px 0px rgba(0, 0, 0, 0.70);
}
h3, h4{
    text-align: center;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 16px;
}
.bi-check-circle-fill{
    width: 20px;
    height: 20px;
    margin-left: 10px;
}
.botaoPlano {
    display: block;
    position: relative;
    padding-left: 70px;
    margin-top: 60px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 55px;
    height: 55px;
    width: 55px;
    background-color: #eee;
    border-radius: 50px;
}
.checkmark:hover{
    background-color: #a9a9a9;
}
.botaoPlano input:checked ~ .checkmark {   
    background-color: #00003F;
    background-image: url(img/check-solid.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position-x: 13px;
    background-position-y: 10px;
}
.continuarBotao{
    color: #FFF;
    text-align: center;
    font-family: "Josefin Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #7059E6;
    padding: 10px 30px;
    border-radius: 50px;
}
.continuarBotao:link {
  text-decoration: none;
}
.continuarBotao:hover {
    background-color: #3019B4;
}
.continuarBotao:active {
    background-color: #100866;
}
footer{
    height: 150px; 
}
footer #rodape{
    background: #00003F; 
    color: #FFF;
    font-family: "Josefin Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    position: sticky;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 150px;
    margin: 0px;
    padding: 10px;
}

@media (min-width: 800px) and (max-width: 1023.99px){
    
main .fundoMesGratis{
    width: 664.5px;
    height: 532.5px;
}
h1{
    font-size: 22.5px;
    }
h2{
    font-size: 10.5px;
}
h3{
    font-size: 22.5px;
}
h4{
    font-size: 12px;
}
main .fundoPlano{
    width: 121.5px;
    height: 255.75px;
    margin-top: 33.75px;
    margin-bottom: 52.5px;
}
.bi-check-circle-fill{
    width: 15px;
    height: 16px;
    margin-left: 7.5px;
}
.botaoPlano {  
    padding-left: 52.5px;
    margin-top: 45px;
    margin-bottom: 9px;
    font-size: 22px;
}
.checkmark {
    left: 41.25px;
    height: 41.25px;
    width: 41.25px;
}
.botaoPlano input:checked ~ .checkmark {   
    background-size: 22.5px;
    background-position-x: 9.75px;
    background-position-y: 7.5px;
}
.continuarBotao{
    font-size: 24px;
    padding: 7.5px 22.5px;
}
}

@media (min-width: 600px) and (max-width: 799.99px){

header .logo{
    width: 183.75px;
    height: 75px; 
}
main .fundoMesGratis{
    width: 498.37px;
    height: 399.37px;
}
h1{
    margin-top: 25px;
    font-size: 22.5px;
}
h2{
    font-size: 10.5px;
}
h3{
    font-size: 16.87px;
}
h4{
    font-size: 9px;
}
main .fundoPlano{
    width: 91.12px;
    height: 191.81px;
    margin-top: 25.31px;
    margin-bottom: 39.37px;
}
.bi-check-circle-fill{
    width: 11.25px;
    height: 12px;
    margin-left: 5.62px;
}
.botaoPlano {  
    padding-left: 39.37px;
    margin-top: 33.75px;
    margin-bottom: 6.75px;
}
.checkmark {
    left: 30.93px;
    height: 30.93px;
    width: 30.93px;
}
.botaoPlano input:checked ~ .checkmark {   
    background-size: 16.87px;
    background-position-x: 7.31px;
    background-position-y: 5.62px;
}
.continuarBotao{
    font-size: 18px;
    padding: 5.62px 16.87px;
}
footer{
    height: 150px; 
}
footer #rodape{
    font-size: 15px;
    position: sticky;
    bottom: 0;
    height: 112.5px;
    padding: 10px;
}
}
@media (min-width: 480px) and (max-width: 599.99px){

header .logo{
    width: 183.75px;
    height: 75px; 
}
main .fundoMesGratis{
    width: 498.37px;
    height: 399.37px;
}
h1{
    margin-top: 25px;
    font-size: 22.5px;
}
h2{
    font-size: 10.5px;
}
h3{
    font-size: 16.87px;
}
h4{
    font-size: 9px;
}
main .fundoPlano{
    width: 91.12px;
    height: 191.81px;
    margin-top: 25.31px;
    margin-bottom: 39.37px;
}
.bi-check-circle-fill{
    width: 11.25px;
    height: 12px;
    margin-left: 5.62px;
}
.botaoPlano {  
    padding-left: 39.37px;
    margin-top: 33.75px;
    margin-bottom: 6.75px;
}
.checkmark {
    left: 30.93px;
    height: 30.93px;
    width: 30.93px;
}
.botaoPlano input:checked ~ .checkmark {   
    background-size: 16.87px;
    background-position-x: 7.31px;
    background-position-y: 5.62px;
}
.continuarBotao{
    font-size: 18px;
    padding: 5.62px 16.87px;
}
footer{
    height: 150px; 
}
footer #rodape{
    font-size: 15px;
    position: sticky;
    bottom: 0;
    height: 112.5px;
    padding: 10px;
}
}

