
body{
    margin: 0px;
    background-image: url(img/fundo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header #cabecalho{
    background: #00003F; 
    display: flex;
    justify-content: space-between;
}
header .logo{
    width: 245px;
    height: 100px; 
}
.custom_input {
	display: flex;
	align-items: center;
	position: relative;
	max-width: 100%;
}

.input {
	font-size: 18px;
	padding: 5px 10px;
	width: 500px;
	padding-right: 10px;
	outline: none;
	background: #FFFFFF;
	color: #000000;
	border: 1px solid #100866;
	border-radius: 20px;
	box-shadow: 3px 3px 2px 0px #000;
	transition: .3s ease;
}

.input:focus {
	background: #F2F2F2;
	border: 1px solid #100866;
	border-radius: 10px;
}

.input::placeholder {
	color: #DDDDDD;
}

.svg_icon {
	position: relative;
	left: 510px;
	fill: #100866;
	width: 18px;
	height: 18px;
}
.icons{
    color: #fff;
    display: flex;
    justify-content: space-around;
    width: 200px;
    align-items: center;
    margin-right: 40px;
}
.bi-bell-fill, .bi-person-fill, .bi-list{
    width: 40px;
    height: 40px;
}

.item{
  width: 250px;
  height: 330px;
  margin: 30px;
  border-radius: 35px;
  background: #C4C4C4;
  box-shadow: -23px 33px 20px 0px rgba(0, 0, 0, 0.36);
}

h2{
color: #FFF;
text-shadow: -10px 24px 14px rgba(0, 0, 0, 0.70);
font-family: "Josefin Sans";
font-size: 60px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-left: 35px;
} 
  #carousel1, #carousel2, #carousel3 {
    overflow: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: 420px;
  }
  
  #carousel1::-webkit-scrollbar {
    height: 0;
  }

  #carousel2::-webkit-scrollbar {
    height: 0;
  }
  
  #carousel3::-webkit-scrollbar {
    height: 0;
  }


  #content1, #content2, #content3{
    display: grid;
    grid-gap: 16px;
    grid-auto-flow: column;
    margin: auto;
    box-sizing: border-box;
  }
